$font600: "opensans-600";
$font400: "opensans-400";
$font700: "opensans-700";
$color-txt: #333333;
$bg: #ffffff;
$bg-btn: #67a030;
$color-txt-btn: #ffffff;
$color-link: #2D4A1A;
$bc: #adadaf;
$dots: #e3e3e3;