.breadcrumbs {
	padding: 30px 15.83% 0;
	display: flex;
	li {
		list-style-type: none;
	}
}
.breadcrumbs__home {
	@include bc;
	display: flex;
	align-items: center;
	&::after {
		content: "";
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $color-link;
		margin: 0 10px;
	}
}
.breadcrumbs__catalog {
	@include bc;
}
@media (max-width:950px) {
	.breadcrumbs {
	padding: 150px 15.83% 0;
}
}