body {
	max-width: 1920px;
	margin: 0 auto;
}

.header {
	padding: 8px 15% 8px 15.83%;
	box-sizing: border-box;
	background-color: $bg;
}
.header__menu {
	display: none;
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
}

.header__row-tel-wrap {
	width: 210px;
	height: 70px;
	background-color: $bg;
	position: relative;
}

.header__row-tel-visible {
	width: 200px;
	height: 50px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: absolute;
	background-color: $bg;
	top: -12px;
	z-index: 2;
}

.header__row-tel {
	@include links;
	line-height: 0.3;
	color: $color-txt;

}

.header__row-tel-arrow {
	display: block;
	width: 8px;
	height: 8px;
	border: 2px solid $color-txt;
	border-color: transparent transparent $color-txt $color-txt;
	transform: rotate(-45deg);
	margin-top: 1%;
}

.header__row-tel-hidden {
	width: 223px;
	//position: absolute;
	background-color: $bg;
	padding: 50px 16px 5px 15px;
	box-sizing: border-box;

	a {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 55px;
		padding: 5px 8px;
		border-bottom: 1px solid #E3E3E3;
		@include links;
		color: $color-txt;

		&:nth-of-type(4) {
			border-color: transparent;
		}

		span {
			font-size: 12px;
		}
	}
}

.header__row-mail {
	@include links;
	color: $color-txt;
}

.header__row-price {
	@include links;
	color: $color-txt;
	display: flex;
	width: 140px;
	justify-content: space-between;
	align-items: center;

	&::before {
		content: "";
		display: block;
		width: 27px;
		height: 35px;
		background-image: url(../img/file_pdf.svg);
	}
}

.header__row-btn {
	@include btn;

}

.header__nav {
	margin: 0 auto;
	padding: 25px 0 15px;
	width: 82%;
	display: flex;
	justify-content: space-between;
}

.header__nav-item {
	list-style-type: none;
	font-size: 18px;
}

.header__nav-home,
.header__nav-aboutus,
.header__nav-products,
.header__nav-documents,
.header__nav-contacts {
	@include links;
	color: $color-txt;

}

@media (max-width: 1650px) {
	.header {
		padding: 8px 10%;
	}
}

@media (max-width: 1250px) {
	.header {
		padding: 15px 3%;
	}

	.header__row {
		font-size: 15px;
	}

	.header__row-tel-visible {
		height: 60px;
		top: -20px;
		width: 170px;
	}

	.header__row-price {
		width: 120px;
	}

	.header__row-btn {
		width: 200px;
		font-size: 14px;
	}

	.header__nav-item {
		font-size: 15px;
	}
}

@media (max-width: 950px) {
	.header {
		position: relative;
	}

	.header__menu {
		display: block;
		width: 100%;
		height: 150px;
		padding: 0 50px;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		background-color: $bg;
	}
	.header__menu-logo {
		display: block;
		width: 130px;
		margin: 35px;
	}

	.burger {
		position: absolute;
		width: 50px;
		height: 45px;
		top: 50px;
		right: 60px;
		z-index: 10;


		&::before,
		&::after {
			content: "";
			display: block;
			width: 50px;
			height: 6px;
			border-radius: 8px;
			background-color: $color-txt;
			position: absolute;
			transition: all 0.3s ease 0s;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			display: block;
			position: absolute;
			top: 42%;
			width: 100%;
			height: 6px;
			border-radius: 8px;
			background-color: $color-txt;
			transition: all 0.5s ease 0s;

		}
	}

	.burger.active {
		&::before {
			transform: rotate(-45deg);
			top: 42%;
		}

		&::after {
			transform: rotate(45deg);
			bottom: 42%;
		}

	}

	.burger.active span {
		transform: scale(0);
	}

	.header__row-logo {
		z-index: 5;
		margin: 35px 80% 200px 100px;
	}

	.header__wrap {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 5;
		background-color: #ffffff;
		top: -2500%;
		transition: all 0.8s ease 0s;
	}
	.header__wrap.active {
		top: 0;
	}

	.header__row {
		flex-direction: column;
		align-items: center;
		min-height: 520px;
		padding: 0 0 30px;
	}

	.header__row-tel-wrap {
		margin-left: 30px;
		height: 60px;
		width: 200px;
	}

	.header__row-tel-hidden {
		margin: 0 0 0 -15px;
		padding: 50px 10px 10px;
	}

	.header__row-price {
		&::before {
			background-size: 70%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	.header__nav {
		flex-direction: column;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 273px;
		align-items: center;

	}

	.header__nav-item {
		font-size: 18px;
	}
}
@media (max-width: 450px) {
	.header__menu {
		padding: 0 50px 0 0;
	}
	.header__row-logo {
		margin: 35px 80% 280px 100px;
	}
	.header__row {
		min-height: 570px;
	}
	.header__nav {
		margin-top: 80px;
	}
}