.category {
	padding: 50px 15% 100px 15.83%;
	position: relative;

	h1 {
		@include h3;
	}
}

.category__wrap {
	display: flex;
	justify-content: space-between;
}

.category__content {
	padding: 0 0 0 370px;
	max-width: 40%;
	@include txt;
	line-height: 24px;
	display: flex;
	flex-direction: column;
}

.category__content-benefits {
	margin-top: 10px;
	padding: 20px 30px 0 0;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid $dots;
}

.category__content-benefits-item {
	width: 80px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;

}

.category__slider {
	width: 300px;
	margin-right: 15px;
	position: relative;

	.slick-list {
		overflow: hidden;
	}

	.slick-track {
		display: flex;
		align-items: center;
	}

	.slick-dots {
		display: flex;
		justify-content: space-between;
		width: 120px;
		padding: 0;
		margin: 0 auto;

		li {
			list-style-type: none;
		}

		button {
			width: 8px;
			height: 8px;
			border: none;
			outline: none;
			border-radius: 50%;
			font-size: 0px;
			padding: 0;
			background-color: $dots;
		}

		.slick-active {
			button {
				background-color: $color-link;
			}

		}
	}

	.slick-arrow {
		padding: 0;
		width: 15px;
		height: 15px;
		font-size: 0;
		background-color: transparent;
		border: 3px solid $color-txt;
		border-color: transparent transparent $color-txt $color-txt;
		position: absolute;

		&:focus {
			outline: none;
		}
	}

	.slick-prev {
		transform: rotate(45deg);
		z-index: 10;
		top: 40%;
		left: -3%;
	}

	.slick-next {
		transform: rotate(-135deg);
		z-index: 10;
		top: 40%;
		right: -4%;
	}
}

.category__slider-item {
	img {
		margin-left: -40px;
	}
}



.category__product-wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 60px 0;
}

.category__product {
	display: flex;
	justify-content: space-between;
	@include shadow;
	width: 72%;
	margin: 0 0 30px;
	height: auto;
	padding: 20px 24px 20px 8px;
	box-sizing: border-box;
	text-decoration: none;
}

.category__product-img {}

.category__product-specification {
	width: 50%;
	padding-right: 20px;

	h4 {
		@include h4;
		margin: 0 0 15px;
	}
}

.category__product-specification-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	@include txt400;
	font-size: 12px;
	min-height: 24px;
	position: relative;

	span {
		padding: 0 10px;
		background-color: #ffffff;
		z-index: 2;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 90%;
		border-bottom: 1px dashed $dots;
		z-index: 1;
		bottom: 2px;
	}
}

.category__product-price {
	padding: 5px 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 2px solid $dots;

	span:nth-of-type(1) {
		@include txt400;
		font-size: 12px;
	}

	span:nth-of-type(2) {
		@include txt400;
	}
}

.category__product-price-btn {
	@include btn;
	width: 197px;
}


@media (max-width:1700px) {
	.category__content {
		padding: 0 0 0 350px;
	}
}

@media (max-width:1650px) {
	.category {
		padding: 50px 10% 100px 10%;
	}

}

@media (max-width:1450px) {
	.category {
		padding: 380px 10% 100px 10%;
	}

	.category__content {
		padding: 0;
		max-width: 70%;
	}

	.category__product-wrap {
		align-items: center;
	}

	.category__product-specification {
		min-width: 280px;
		margin-left: -60px;
	}
}

@media (max-width:1250px) {
	.category {
		padding: 380px 5% 20px 5%;
	}

	.category__content {
		max-width: 60%;
	}

	.category__product {
		width: 80%;
	}

}

@media (max-width:1030px) {
	.category__product {
		width: 90%;
	}
}

@media (max-width:900px) {
	.category__wrap {
		flex-direction: column;
		align-items: flex-start;
	}

	.category__content {
		max-width: 100%;
	}

	.category__slider {
		margin: 80px 0 0 25%;
	}
	.category__product-wrap {
		margin-bottom: 10px;
	}

	.category__product {
		width: 100%;
	}

	.category__product-img {
		width: 90%;
		height: auto;
	}

	.category__product-specification {
		h4 {
			font-size: 20px;
			text-align: center;
		}
	}

	.category__product-price-btn {
		width: 150px;
		font-size: 15px;
	}
}

@media (max-width:700px) {
	.category {
		padding: 80px 5% 20px 5%;
	}

	.category__product {
		flex-wrap: wrap;
	}

	.category__product-price {
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
		padding: 15px 30px 0 40px;
		width: 100%;
		border-top: 2px solid $dots;
		border-left: 0 solid $dots;
	}
	.category__product-price-btn {
		margin-left: 40%;
	}
}

@media (max-width:600px) {
	.category {
		h3 {
			font-size: 38px;
			margin: 50px 0 20px;
		}
	}
	.category__content {
		p {
			font-size: 15px;
		}
	}
	.category__content-benefits-item {
		font-size: 14px;
	}
	.category__slider {
		margin: 50px auto 0;
	}
	.category__product {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 90%;
		padding: 20px;
	}
	.category__product-price {
		width: 90%;
		padding: 15px 20px 0 5px;
	}
	.category__product-specification {
		margin: 20px 0;
		width: 100%;
	}
	.category__product-specification-item  {
		width: 100%;
	}
	.category__product-price-btn {
		margin-left: 15%;
	}
}
@media (max-width:500px) {
	.category__content-benefits {
		flex-wrap: wrap;
		width: 80%;
		justify-content:space-between;
		margin: 0 auto;
		padding: 20px 0 0 20px;
	}
	.category__content-benefits-item {
		margin-right: 50px;
		margin-bottom: 20px;
	}
	.category__product {
		width: 100%;
	}
	.category__product-price {
		width: 95%;
		padding: 15px 0 0 0;
	}
	.category__product-price-btn {
		margin-left: 0;
	}
}
@media (max-width:370px) {
	.category__product-price {
		flex-wrap:wrap;
		flex-direction:row;
		
	}
	.category__product-price-btn {
		margin: 5px 50px 0 0;
	}
}
@media (max-width:340px) {
	.category__content-benefits {
		width: 90%;
		padding: 20px 0 0 20px;
	}
	.category__content-benefits-item {
		margin-right: 50px;
	}
	
}