main {
	max-width: 100%;
}

.title_block {
	max-width: 100%;
	padding: 11.5% 13.7% 2%;
	//background-image: url(../img/title_block_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	color: #ffffff;
	font-family: $font600, "Arial", sans-serif;
	font-weight: 600;

	h1 {
		font-size: 64px;
		text-align: center;
	}

	h2 {
		text-align: center;
		font-size: 32px;
		line-height: 130%;
		margin-bottom: 162px;
	}
}

.title_block__facts {
	display: flex;
	justify-content: space-between;
}

.title_block__facts-item {
	@include txt;
	color: #ffffff;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.title_block__value {
	padding-right: 10px;
	margin-right: 8px;
	font-family: $font600, "Arial", sans-serif;
	font-weight: 700;
	line-height: 115%;
	font-size: 48px;
	border-right: 1px solid #ffffff;
	color: $bg-btn;
	;
}

@media (max-width: 1250px) {
	.title_block {
		padding: 11.5% 8% 2%;
	}

	.title_block__facts {
		flex-wrap: wrap;
		padding: 0 190px;
		height: 150px;
		align-content: space-between;
	}
}

@media (max-width: 1100px) {
	.title_block {
		h1 {
			font-size: 58px;
		}

		h2 {
			font-size: 25px;
			width: 650px;
			margin: 70px auto 100px;
		}
	}

	.title_block__facts {
		padding: 0 130px;
	}
}

@media (max-width: 950px) {
	.title_block {
		padding: 25% 8% 8%;
	}

	.title_block__facts {
		padding: 0 70px;
	}
}

@media (max-width: 770px) {
	.title_block {
		h1 {
			font-size: 50px;
		}

		h2 {
			font-size: 20px;
			width: 500px;
			margin: 70px auto 100px;
		}
	}

	.title_block__facts-item {
		font-size: 13px;
	}

	.title_block__value {
		font-size: 40px;
	}
}

@media (max-width: 670px) {
	.title_block__facts {
		padding: 0 20px;
	}
}

@media (max-width: 570px) {
	.title_block {
		padding: 30% 8% 8%;

		h2 {
			width: 300px;
			margin-bottom: 50px;
		}
	}

	.title_block__facts {
		flex-wrap: nowrap;
		height: 250px;
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 370px) {
	.title_block {
		padding: 30% 2% 8%;
	}
}


.choose-us {
	padding: 65px 15% 65px 15.83%;
	box-sizing: border-box;

	h3 {
		@include h3;
		margin: 0 0 65px;
	}
}

.choose-us__content {
	display: flex;
	justify-content: space-between;
}

.choose-us__item {
	width: 304px;
	height: 360px;
	@include shadow;
	padding: 32px 24px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-position: 0 0;
	background-size: contain;
	background-position: 26px 26px;
	background-size: 128px auto;
	background-repeat: no-repeat;

	h4 {
		margin: 0 0 13px 0;
		@include h4;
	}

	span {
		@include txt400;
		font-size: 16px;
	}
}

@media (max-width: 1800px) {
	.choose-us {
		padding: 65px 10% 65px 10%;
	}
}

@media (max-width: 1570px) {
	.choose-us {
		padding: 65px 5% 65px;
	}
}

@media (max-width: 1390px) {
	.choose-us {
		padding: 65px 25% 65px;
	}

	.choose-us__content {
		flex-wrap: wrap;
		height: 800px;
	}
}

@media (max-width: 1290px) {
	.choose-us {
		padding: 65px 20% 65px;
	}
}

@media (max-width: 1080px) {
	.choose-us {
		padding: 65px 17% 65px;
	}
}

@media (max-width: 980px) {
	.choose-us {
		padding: 65px 13% 65px;
	}
}

@media (max-width: 860px) {
	.choose-us {
		padding: 65px 9% 65px;

		h3 {
			font-size: 40px;
		}
	}
}

@media (max-width: 770px) {
	.choose-us {
		padding: 65px 5% 65px;
	}
}

@media (max-width: 700px) {
	.choose-us {
		padding: 95px 8% 65px;

		h3 {
			font-size: 35px;
			text-align: center;
		}
	}

	.choose-us__content {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		height: 1500px;

	}
}

.products {
	padding: 15px 15% 50px 15.83%;

	h3 {
		@include h3;
		margin: 0;
	}
}

.products__catalog {
	@include links;
	font-size: 18px;
	color: $color-link;
	display: block;
	margin: -45px 0 80px 85%;
}

.products__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products__content-category {
	@include content-category;
}
.products__content-category-img {
	margin-top: 15px;
}
.products__content-category-text {
	@include content-category-text;
}

@media (max-width: 1890px) {
	.products__content-category {
		width: 600px;
	}
}

@media (max-width: 1800px) {
	.products {
		padding: 15px 10% 50px;
	}
}

@media (max-width: 1570px) {
	.products {
		padding: 15px 5% 50px;
	}
}

@media (max-width: 1350px) {
	.products {
		padding: 15px 25% 50px;
		position: relative;

		h3 {
			margin: 0 0 50px;
		}
	}

	.products__content-category {
		width: 650px;
	}

	.products__catalog {
		position: absolute;
		margin: 0;
		bottom: 25px;
		right: 26.5%;
	}
}

@media (max-width: 1290px) {
	.products {
		padding: 15px 20% 50px;
	}

	.products__content {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 1080px) {
	.products {
		padding: 15px 17% 50px;
	}
}

@media (max-width: 980px) {
	.products {
		padding: 15px 13% 50px;
	}
}

@media (max-width: 830px) {
	.products {
		padding: 15px 9% 50px;
	}

	.products__content-category {
		width: 600px;
	}
}

@media (max-width: 700px) {
	.products {
		h3 {
			font-size: 35px;
		}
	}

	.products__content-category {
		width: 500px;
		padding-left: 0;
	}

	.products__content-category-img {
		width: 200px;
		height: auto;
		margin-top: 15px;
	}

	.products__content-category-text {
		width: 60%;
	}
}

@media (max-width: 590px) {
	.products {
		padding: 15px 5% 50px;

		h3 {
			text-align: center;
		}
	}

	.products__content-category {
		width: 450px;
		padding-right: 5px;

	}

	.products__content-category-text {
		margin-left: -20px;
	}
}

@media (max-width: 500px) {
	.products__content-category {
		padding: 10px 5px 10px 0;
		width: 90%;
		height: 200px;

	}

	.products__content-category-text {
		p {
			margin: 0;
			line-height: 110%;
		}
	}
}

@media (max-width: 450px) {
	.products__content-category {
		padding: 15px 5px 15px 0;
	}

	.products__content-category-img {
		width: 170px;
		height: auto;
		//margin-top: 20px;
	}

	.products__content-category-text {
		margin-left: -30px;

		h4 {
			font-size: 18px;
		}

		p {
			font-size: 12px;

		}
	}
}




.customers-slider {
	margin-top: 27px;
	background-color: $bg-btn;
	padding: 72px 17.7%;
	position: relative;

	.slick-list {
		overflow: hidden;
	}

	.slick-track {
		display: flex;
		align-items: center;
	}
	.slick-arrow {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	border: none;
	background-color: #ffffff;
	position: absolute;
	z-index: 1;
	font-size: 0;

	&::before {
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		background-color: transparent;
		border: 3px solid $bg-btn;
		border-color: transparent transparent $bg-btn $bg-btn;
		position: absolute;
	}

	&:focus {
		outline: none;
	}
}

.slick-prev {
	top: 42%;
	left: 16%;

	&::before {
		transform: rotate(45deg);
		top: 25%;
		left: 35%;
	}

}

.slick-next {
	top: 42%;
	right: 15%;

	&::before {
		transform: rotate(-135deg);
		top: 25%;
		left: 10%;
	}
}
	.slick-disabled {
	background-color: transparent;

	&::before {
		border-color: transparent transparent #ffffff #ffffff;
	}
}
}

.customers-slider__item {
	padding-left: 25%;
	box-sizing: border-box;
}




@media (max-width: 1800px) {
	.customers-slider {
		padding: 72px 15%;
	}

	.slick-prev {
		left: 10%;
	}

	.slick-next {
		right: 10%;
	}
}

@media (max-width: 1570px) {
	.customers-slider {
		padding: 72px 10%;
	}

	.slick-prev {
		left: 6%;
	}

	.slick-next {
		right: 6%;
	}
}

@media (max-width: 1080px) {
	.customers-slider__item {
		padding-left: 10%;
	}
}

@media (max-width: 950px) {
	.customers-slider__item {
		padding-left: 5%;
	}

	.slick-prev {
		left: 5%;
	}

	.slick-next {
		right: 5%;
	}
}

@media (max-width: 950px) {
	.customers-slider__item {
		padding-left: 20%;
	}
}

@media (max-width: 700px) {
	.customers-slider__item {
		img {
			width: 80%;
			height: auto;
		}
	}

	.slick-arrow {
		width: 20px;
		height: 20px;
		top: 45%;

		&::before {
			width: 6px;
			height: 6px;
			border: 2px solid $bg-btn;
			border-color: transparent transparent $bg-btn $bg-btn;
		}
	}

	.slick-disabled {
		background-color: transparent;

		&::before {
			border-color: transparent transparent #ffffff #ffffff;
		}
	}
}

.news {
	padding: 34px 15% 110px 15.83%;
	box-sizing: border-box;

	h3 {
		@include h3;
	}
}

.news__link {
	@include links;
	font-size: 18px;
	color: $bg-btn;
	display: block;
	width: 186px;
	margin: -95px 0 80px 86%;
}

.news__wrap {
	display: flex;
	justify-content: space-between;
}

.news__item {
	width: 416px;
	height: 263px;
	@include shadow;
	padding: 40px 72px 40px 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h4 {
		@include h4;
		margin: 0;
	}

	p {
		@include txt400;
		line-height: 150%;
		margin: 25px 0 20px;
	}

	span {
		@include detail;
	}
}

@media (max-width: 1800px) {
	.news {
		padding: 84px 10%;
	}
}

@media (max-width: 1570px) {
	.news {
		padding: 84px 5%;
	}
}

@media (max-width: 1350px) {
	.news {
		padding: 84px 15%;
	}

	.news__wrap {
		flex-wrap: wrap;
	}

	.news__item:nth-of-type(3) {
		margin: 40px 0 0 26%;
	}

	.news__link {
		margin: -75px 0 80px 75%;
	}
}

@media (max-width: 1210px) {
	.news {
		padding: 84px 10%;
	}
}

@media (max-width: 1065px) {
	.news {
		padding: 84px 5%;
	}
}

@media (max-width: 950px) {
	.news {
		padding: 84px 15%;
		position: relative;

		h3 {
			text-align: center;
		}
	}

	.news__link {
		position: absolute;
		bottom: 25px;
		right: 28%;
		margin: 0;
	}

	.news__wrap {
		flex-direction: column;
		align-items: center;
	}

	.news__item:nth-of-type(3) {
		margin: 0;
	}

	.news__item {
		margin: 0 0 20px 0;
	}
}

@media (max-width: 700px) {
	.news {
		h3 {
			font-size: 35px;
		}
	}
}

@media (max-width: 580px) {
	.news {
		padding: 84px 10%;
	}
}

@media (max-width: 520px) {
	.news {
		padding: 84px 5%;
	}
}

@media (max-width: 460px) {
	.news__item {
		width: 100%;
		height: 233px;
		@include shadow;
		padding: 40px 20px 30px 25px;
	}
}
@media (max-width: 390px) {
	.news__item {
		padding: 30px 20px 30px 25px;
		p {
			margin: 15px 0 10px;
		}
	}
}
@media (max-width: 330px) {
	.news__item {
		p {
			font-size: 15px;
		}
	}
}
